*jar
*iml
**iml
*class
**class
*timestamp
**timestamp
*log
/lib/
/classes/
/target/
/checkouts/
/bin/
.lein-plugins/
.idea/
.lein-deps-sum
.lein-repl-history
.lein-failures
.nrepl-port
.project
.classpath
